*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #679797;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: 'SF Pro Display',sans-serif;
	width: 100%;
	padding-bottom: 75px;
}
a{
	text-decoration: none;
}
.login{
	padding-bottom: 0;
	height: 100vh;
}
.conteiner{
	width: 100%;
	max-width: calc(1300px - 150px);
	margin: 0 auto;
	height: calc(100% - 150px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.admin_conteiner{
	height: 100%;
	margin-top: 75px;
}
.index{
	display: flex;
	height: 100%;
}
.index__left{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #25616B;
	width: 48%;
	height: 100%;
	position: relative;
	border-radius: 20px 0 0 20px;
}
.index__left p{
	color: #fff;
	font-size: 17px;
	margin-top: 30px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}
.index__right{
	background-color: #FEBA33;
	width: 52%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0 20px 20px 0;
}
.index__right:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
    width: 35px;
    background-color: #feba33;
    transform: skewX(-3deg);
    transform-origin: top;
}
.index__right_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 50px;
	border-radius: 150px;
	cursor: pointer;
	font-size: 18px;
	line-height: 26px;
	color: #13506C;
	margin-top: 80px;
}
.index__right_bottom{
	width: 500px;
}
.index__right_bottom_links{
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}
.index__right_bottom_links a{
	color: #fff;
	font-size: 17px;
}

.index__right_bottom_iteam{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.index__right_bottom_iteam p{
	color: #fff;
	font-size: 17px;
}

.index__right_bottom_lang{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 46px;
	height: 26px;

}

/*==============================ADMIN==============================*/

.main{
	width: 100%;
	display: flex;
	height: 100%;
	border-radius: 20px;
}
.main__sidebar{
	width: 26%;
	background: linear-gradient(57.62deg, #0C486C 28.76%, #4E9C74 223.05%);
	padding-left: 50px;
	border-radius: 20px 0 0 20px;
	position: relative;
}
.main__sidebar > img{
	margin-bottom: 70px;
	margin-top: 70px;
	width: 200px;
	height: 70px;
}
.main__sidebar_link{
	display: flex;
	align-items: center;
	border-radius: 77.5px;
	width: 190px;
	padding-left: 20px;
	height: 50px;
	transition: 0.3s;
	margin-bottom: 25px;
	cursor: pointer;
}
.main__sidebar_link img{
	filter: invert(1);
	width: 30px;
	height: 30px;
}
.main__sidebar_link span{
	font-size: 16px;
	margin-left: 15px;
	color: #fff;
}
.main__sidebar_link_active{
	background-color: #3A7998;
}
.main__sidebar_copyright{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #C8C8C8;
	font-size: 17px;
}
.main__right{
	width: 74%;
	background-color: #F5F8FC;
	border-radius: 0 20px 20px 0;
	padding-left: 30px;
	padding-top: 40px;
	padding-right: 30px;
}
.dashbord{
	display: block;
}
.dashbord__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dashbord__top_title{
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}
.dashbord__top_subtitle{
	color: #7A7A7A;
	font-size: 16px;
	margin-top: 5px;
}
.dashbord__top_search{
	width: 310px;
	height: 40px;
	position: relative;
}
.dashbord__top_search input{
	width: 100%;
	height: 100%;
	background-color: #FEBA33;
	border: none;
	border-radius: 100px;
	color: #fff;
	font-size: 16px;
	outline: none;
	padding-left: 40px;
}
.dashbord__top_search input::placeholder{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
.dashbord__top_search img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	width: 15px;
	height: 15px;
}
.dashbord__cards{
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.dashbord__cards_iteam{
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin-right: 22px;
}
.dashbord__cards_iteam:last-child{
	margin-right: 0;
}
.dashbord__cards img{
	margin-right: 10px;
	width: 35px;
	height: 35px;
}
.dashbord__cards_iteam p{
	color: #C1C8D4;
	font-size: 15px;
	margin-right: 15px;
}
.dashbord__cards_iteam p span{
	font-size: 21px;
	font-weight: 700;
	color: #000;
	margin-right: 3px;
}
.dashbord__cards_iteam .temp{
	width: 90px;
	height: 40px;
	background-color: #F2F4F9;
}
.dashbord__big{
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
}
.dashbord__big .temp{
	width: 33%;
	height: 100%;
	background-color: #F2F4F9;
}
.dashbord__big_right{
	width: 67%;
	padding-bottom: 20px;
}
.dashbord__big_right_title{
	color: #000000;
	font-size: 18px;
}
.title2{
	margin-top: 30px;
}
.dashbord__big_right_block{
	padding: 20px;
	background-color: #F2F4F9;
	border-radius: 10px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dashbord__big_right_block > p{
	color: #000;
	font-size:  18px;
	font-weight: 700;
}
.dashbord__big_right_block p sub{
	color: #f00;
	font-size: 16px;
}
.dashbord__big_right_block_iteam{
	display: flex;
	align-items: center;
}
.dashbord__big_right_block_iteam p{
	margin-left: 10px;
	font-size: 17px;
	color: #000;
}
.dashbord__big_right_block_iteam img{
	width: 20px;
	height: 20px;
}
.title2 + .dashbord__big_right_block .dashbord__big_right_block_iteam img{
	width: 40px;
	height: 40px;
}
.dashbord__big_right_block_iteam_content p:last-child{
	color: #C1C8D4;
	font-size: 15px;
	margin-top: 2px;
}


.dashbord__big2{
	width: 100%;
	display: flex;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 30px;

}
.dashbord__big2_left{
	width: 35%;
	margin-right: 40px;
}
.dashbord__big2_left > p{
	color: #000;
	margin-bottom: 10px;
	font-size: 15px;
}
.dashbord__big2_iteam{
	position: relative;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 15px;
	background-color: #F2F4F9;
	border-radius: 10px;
	margin-bottom: 15px;
}
.dashbord__big2_iteam:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 14px;
	background-color: #A9DBA8;
	width: 3px;
	height: 80%;
}
.blue:before{
	background-color: #0C486C;
}
.dashbord__big2_iteam_title{
	color: #000;
	font-size: 32px;
}
.dashbord__big2_iteam_title  sup{
	color: #CDD3DD;
	font-size: 17px;
}
.dashbord__big2_iteam_subtitle{
	color: #C1C8D4;
	font-size: 14px;
}

.dashbord__big2_right{
	width: calc(65% - 50px);
}
.dashbord__big2_right .temp{
	width: 100%;
	background-color: #F2F4F9;
	height: 250px;
}
.dashbord__big2_right_top{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}
.dashbord__big2_right_top_iteam{
	display: flex;
	align-items: center;
}
.dashbord__big2_right_top_iteam img{
	width: 20px;
	height: 20px;
	margin-right: 15px;
}
.dashbord__big2_right_top_iteam:last-child{
	margin-left: 20px;
}




/*==================================REPORT================================*/
.report{
	display: none;
}
.report .dashbord__top{
	margin-bottom: 30px;
}
.report__table{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	padding-bottom: 15px;
	background-color: #F5F8FC;
	margin-bottom: 20px;
}
.report__table_iteam{
	display: flex;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #BDBCBC;
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	justify-content: space-between;
	text-align: center;
}
.top{
	background-color: #F5F8FC;
	height: 50px;
	border-radius: 20px 20px 0 0;
}
.report__table_iteam p:nth-child(1){
	width: 20px;
}
.report__table_iteam p:nth-child(2){
	width: 120px;
	text-align: center;
}
.report__table_iteam p:nth-child(3){
	width: 80px;
}
.report__table_iteam p:nth-child(4){
	width: 50px;
}
.report__table_iteam p:nth-child(5){
	width: 50px;
}
.report__table_iteam p:nth-child(6){
	width: 80px;
}


.report__card{
	width: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 40px;
}
.report__table_title{
	font-size: 15px;
	color: #000;
	margin-bottom: 10px;
}
.report__card_block{
	width: 100%;
	display: flex;
}
.report__card_block_iteam{
	background-color: #F2F4F9;
	padding-top: 12px;
	border-radius: 20px;
	height: 200px;
	display: flex;
}
.report__card_block_iteam{
	width: 50%;
	margin-right: 20px;
}
.report__card_block_iteam:last-child{
	margin-right: 0;
}
.report__card_right{
	width: 48%;
}
.report__card_block_iteam .dashbord__big2_iteam{
	width: 52%;
	height: 100px;
	background-color: transparent;
}
.report__card_right .temp{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 50%;
}

/*==================================STATISTIC================================*/
.statistic{
	display: none;
}
.statistic .dashbord__top{
	margin-bottom: 30px;
}
.statistic .dashbord__top + p{
	font-size: 15px;
	color: #000;
	margin-bottom: 20px
}
.statistic__inner{
	display: flex;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 30px;
}
.statistic__inner_left{
	margin-right: 40px;
	width: 40%;
}
.statistic__inner_right{
	width: calc(60% - 40px);
	background-color: #fff;
	border-radius: 20px;
	padding: 15px 15px 0 15px;
}
.statistic__inner_right .temp{
	width: 100%;
	background-color: #F5F8FC;
	height: 100%;
}
.statistic__inner_left .report__table{
	box-shadow: unset;
	margin-bottom: 0;
}
.statistic__inner_left_card{
	background-attachment: fixed;
}
.inner2{
	background-color: transparent;
	box-shadow: unset;
	padding: 0;
}
.statistic__inner_left_card{
	display: flex;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-bottom: 20px;
}
.statistic__inner_left_card_left p{
	font-size: 34px;
	color: #000;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}
.statistic__inner_left_card_left p sub{
	color: #038600;
	font-size: 16px;
}
.statistic__inner_left_card_left img{
	width: 16px;
	height: 13px;
	display: inline-block;
	margin-top: auto;
	margin-left: 5px;
}
.statistic__inner_left_card_left .temp{
	width: 150px;
	height: 100px;
	background-color: grey;
}
.statistic__inner_left_card_right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}
.statistic__inner_left_card_right .temp{
	width: 110px;
	height: 70%;
	background-color: grey;
}
.statistic__inner_right_top{
	display: flex;
	width: 100%;
	margin-top: 40px;
}
.statistic__inner_right_top .dashbord__big2_iteam{
	width: 50%;
	background-color: transparent;
}
.statistic__inner_right_bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 178px;
}
.statistic__inner_right_bottom .temp{
	width: 80%;
	height: 100%;
	background-color: grey;
}


/*==========================SETTING==========================*/
.setting{
	display: none;
	height: 81vh;	
}